 body
        {
            font-family: 'PT Sans', Tahoma, sans-serif;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            color: #fff; /*makes the letters white, so will not be seen without background color != white*/

            /*places the table in the top left corner of the browser screen*/
            padding: 0;
            margin: 0;
        }
        table, th, td
        {
            border: 1px solid black;
            border-spacing: 0;
            height: 50px;
            background: #234465;
        }
        table
        {
            padding-top: 10px;
            padding-left: 30px;
            width: 1231px;
            margin: auto;
        }
        #logo
        {
            width: 250px;
            font-size: 11px;
        }
        #dropMenu
        {
            background:#234465;
        }

ul
{
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul li
{
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li:hover
{
  /*background: #555;
  color: #fff;*/
}

ul li ul
{
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li ul li
{
  /*background: #555;*/
  display: block;
  /*color: #fff;*/
  text-shadow: 0 -1px 0 #000;
}

ul li ul li:hover
{
    background: #234465;
}

ul li:hover ul
{
  display:list-item;
  opacity: 1;
  visibility: visible;
}
    a{color: #fff;}
