body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
    font-size: 10pt; /*text size*/
}

#container
{
    background-color: #234465;
    margin: 0 auto;
    height: 100px;
}

#logo /*softuni-logo*/
{
    margin-top: 10px; /*aligns it in the middle of the form on the left*/
    float: left;
    cursor: pointer; /*finger pointer will appear, when mouse pointer is over the logo*/
}

#main-bar /*the bell image, USER menu and Search blank*/
{
    float: right;
    display: inline-flex; /*the inline property displays two paragraph on the same row, without spaces between them, -flex lets all the flexible items be on the same line, regardless of its content */
    margin: 20px 60px 10px 0;
}

#user
{
    margin: auto 5px auto 35px;
}

#user > a
{
    text-decoration: none;
    color: white;
}

#search /*the search blank and img*/
{
    margin: auto 90px auto 5px;
}

#search-bar /*the search blank only*/
{
    height: 30px;

    border-radius: 5px 0px 0px 5px;
    border: none;

    color: grey;
    padding-left: 5px; /*sets its size*/
}

#button /*the search button*/
{
    width: 30px;
    height: 30px;

    float: right; /*not only places it on the right. but also aligns it with the search blank*/
    background: url("img/search.png") no-repeat scroll 7px center #FFFFFF; /*the search img-magnifying glass*/

    border-width: 0px 0px 0px 0px; /*up, right, down, left*/
    border-radius: 0px 5px 5px 0px; /*rounds the borders of the img*/

    cursor: pointer;
}

#navigation
{
    margin-left: 300px;
    display: inline;
    text-align: center;
}

#navigation-menu
{
    line-height: 36px; /*line-height = height between the lines of text. The default line height in most browsers is about 110% to 120%.*/
}

#navigation-menu :hover
{
    cursor: pointer;
    border-radius: 5px;
}

#navigation-menu ul /*news, about, training, for companies, forum, contacts*/
{
    margin: 0;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table; /*Let the element behave like a <table> element*/
}

#navigation-menu ul:after /*inserts style after every nav-menu ul*/
{
    content: "";
    clear: both;
    display: block;
}

#navigation-menu>ul>li /*news, about, training....set style*/
{
    text-transform: uppercase;
    margin-left: 5px; /*sets some space between them*/
    padding: 0 10px; /*positions the text properly*/
}

#navigation-menu ul li /*...the same menu buttons*/
{
    float: left; /*if float: right,  positions them backwards, if float: none, positions them one under the other*/
}

#navigation-menu ul li:hover /*applies the style if the mouse pointer hovers over the element*/
{
    background: #428BCA;
    outline: none;
}

#navigation-menu ul li a /*NEWS, FOR COMPANIES, FORUM, CONTACTS that have a hrefs on click*/
{
    display: block;
    text-decoration: none;
    color: #fff;
}

#navigation-menu ul ul /*the drop-down menus Ex. In ABOUT THE UNI: about, professions, plans, majors, trainers...*/
{
    width: 300px;
    top: 100%; /*100, so to not place its self over the mother button*/

    background: #234465;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    text-align: left;
    text-transform: none;
    font-weight: 400;

    position: absolute;

    margin-left: -10px;
    margin-top: -10px;

    padding: 0; /*0 - the inner buttons(sub menus) will have the same borders as the field allocated for them in this drop down menu*/
    display: none;
}

#navigation-menu ul li:hover > ul
{
    display: block; /*displays element as a block element, creates a block of style for certain elements*/
}

#navigation-menu ul ul li /*applies for the sub menus of the drop-down menu buttons*/
{
    float: none;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

#navigation-menu ul ul li:last-child /*applies style for the last elements of the drop-down menus, so to align properly the borders of them accroding to the style for the borders of the drop box set for this drop menu*/
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#navigation-menu ul ul li a
{
    padding: 0 10px; /*aligns the text title of the hrefs of the drob down menu*/
}

#navigation-menu ul ul li a:hover /*if the user puts the mouse pointer over the elements of the drop down menu , change the color to....*/
{
    background: #FF9C00;
}
