* /*all*/
{
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    font-size: 10pt;
}

#container
{
    width: 1000%A;
    background-color: #EEEEEE;
}

.block /*class block for the three NEWS blocks - level #0 starts on...,break + schedule..., from softuni conf...*/
{
    width: 305px;

    float: left;
    background-color: white; /*if we don't specify a color here, it will inherit the container's color*/
    margin: 2px;
    padding: 15px 30px;
    box-shadow: 3px 3px 10px #888;
}

#news > .block
{
    margin-left: 40px;
}

#news-text /*"NEWS"*/
{
    display: block;
    margin: 0 0 18px 40px; /**position the text*/
    padding-top: 40px;
    font-size: 1.5em;
    color: #2A6496;
}

.news /*pics with text in each of the three NEWS inner sub boxes*/
{
    display: block;
    height: 210px;

    margin-top: 20px;
    margin-bottom: 20px;

    padding-bottom: 20px;

    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
}

.image /*each img in the sub box news*/
{
    display: block; /*display it as a block*/
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

#pages /*footer-like row holding the nums of next pages...1 2 3 4 5 >*/
{
    clear: both;
    padding: 40px;
}

#pages li
{
    display: inline-block;
    background-color: #4CA0DB;
}

#pages li a
{
    width: 30px;
    height: 30px;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin-right: 0px    ;

    color: white;
}

#pages li:hover /*if mouse pointer is over the element...*/
{
    background-color: #E88E00;
}

#pages li:first-child /*the element of all the others that is first after begin of list in pages*/
{
    background-color: #E88E00;
}

h3 /*the headings level #0 starts..., break + schedule for..., from softuni...*/
{
    display: block;
    height: 25px;

    margin-top: 15px;
    margin-bottom: 5px;
}

.date /*the dates beneath the headings*/
{
    text-align: right;
    font-weight: lighter;
}

p /*the paragraphs on top and beneath the pics in the sub NEWS boxes */
{
    color: #735F73;
    font-size: 11pt;
}

.tags
{
    margin-top: 20px;
}

.tags h5 /*only the headings of the tags messages */
{
    display: inline;
    font-weight: bold;
    color: #7E5A5A;
}

.tags h6 /*the tags text*/
{
    display: inline;
    color: #C5C5C5;
    font-weight: lighter;
}

p:hover /*when mouse cursos hovers over the tags texts*/
{
    text-decoration: underline;
    cursor: pointer;
}

h6:hover
{
    text-decoration: underline;
    color: #7E5A5A;
    cursor: pointer;
}

a /*the hrefs anywhere on the form*/
{
    text-decoration: none;
    font-size: 11pt;
    color: #2A6496;
}
