body
{
    font-family: tahoma, sans-serif;
}

#container /*the form only*/
{
    width: 490px;
    height: 400px;

    margin: 0 auto;

    background-color: #ffc0cb;
    font-style: italic;
    font-size: 0.9em;
}

h1 /*the "FLIGHT ORDER" main header*/
{
    text-align: center;
    padding-top: 10px;
    font-size: 2.3em;
}

select /*the three select blanks - "Enter a city" x 2 + "Economy"*/
{
    font-weight: bold;
    font-size: 1em;

    width: 215px;
    height: 25px;

    margin: 5px 0;
}

input /*everywhere where and input action is possible, except for the three selection type blanks*/
{
    font-size: 1.2em;
    margin: 5px 0;
}

#left /*the whole left block of the form - "From"*/
{
    float: left;
    width: 225px;
    padding: 10px;
}

#right /*the whole right block of the form - "To"*/
{
    float: right;
    width: 225px;
    padding: 10px;
}

.departure_return-Dates
{
    width: 215px;
    height: 25px;
}

#inner-left input /*the three square blank fields to enter numerable values to (Form)*/
{
    width: 65px;
}
#inner-left label[for="twelve+"]
{
    padding-right: 44px;
}
#inner-left label[for="two-twelve"]
{
    padding-right: 42px;
}
/*
#inner-left label[for="zero-two"] /*not necessary at the moment*/
{
    padding-right: px;
}
*/

.timeBox /*the time intervals blank boxes*/
{
    width: 100px;
}

#flight-class /*the "choose class" selection field*/
{
    width: 215px;
}

#search /*the search button*/
{
    width: 215px;
    height: 25px;

    font-size: 1em;
}
