    body
    {
        font-family: tahoma;
        background: green;
    }

    .roundtable
    {
        font: 14px sans-serif;
        background-color: white;
        border:1px solid black;
        border-radius:25px;
    }

    .germanyRight
    {
         -moz-border-radius: 0 0 0 20px;
         -webkit-border-radius: 0 0 0 20px;
         border-radius: 0 0 0 20px;
         text-align: right;
    }

    th, td, tr
    {
        /*border-radius: 15px;makes all cells round*/
        /*border-collapse: collapse;*/
        border: 1px solid black;
        padding: 5px 20px;
        /*width: 300px;*/
    }

    .select
    {
        background-color:lightgray;
        color: red;
    }

    .select1
    {
        color: green;
    }

    #bottomRight
    {
        -moz-border-radius: 0 0 20px 0;
        -webkit-border-radius: 0 0 20px 0;
        border-radius: 0 0 20px 0;
    }

    /*#topLeft
    {
        -moz-border-radius: 0 0 0 20px;
        -webkit-border-radius: 0 0 0 20px;
        border-radius: 0 0 0 20px;
    }*/

    #country
    {
        -moz-border-radius: 20px 0 0 0;
        -webkit-border-radius: 20px 0 0 0;
        border-radius: 20px 0 0 0;
        text-align: right;
        background-color: gold;
    }

    #result
    {
        text-align: center;
        background-color: gold;
    }

    #country2
    {
        text-align: left;
        background-color: gold;
    }

    #placeAbet
    {
        height: 30px; /*no need to set height value for the others, because it corrects them according to this one*/
        text-align: center;
        background-color: gold;
        -moz-border-radius: 0 20px 0 0;
        -webkit-border-radius: 0 20px 0 0;
        border-radius: 0 20px 0 0;
    }

    #group
    {
        text-align: center;
        background-color: gold;
    }

    /*#spain, #argentina
    {
        background-color: lightgrey;
    }*/

    #right
    {
        text-align: right;
    }

    #left
    {
        text-align: left;
    }

    #centre
    {
        text-align: center;
    }
